[package]
name = "wasm"
version = "0.1.0"
authors = ["poteboy"]
edition = "2018"
publish-lockfile = true

[lib]
crate-type = ["cdylib", "rlib"]

[features]

[dependencies]
wasm-bindgen = "0.2.84"
oxc_parser = "0.12.5"
oxc_allocator = "0.12.5"
oxc_span = "0.12.5"
serde = "1.0.198"
serde-wasm-bindgen = "0.6.5"
oxc_ast = { "version" =  "0.12.5", features = ["serialize"] }
tsify = "0.4.5"
web-sys = {"version" = "0.3.44", features=['console']}
oxc_semantic = "0.12.5"
oxc_codegen = "0.12.5"

[dev-dependencies]
wasm-bindgen-test = "0.3.34"

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
