name: testing
on:
  push:
    branches:
      - main
      - experimental
  pull_request:
    branches:
      - main
      - experimental
  workflow_dispatch:
jobs:
  test:
    name: Node ${{ matrix.node_version }} testing
    runs-on: [ubuntu-latest, windows-latest]
    strategy:
      matrix:
        node_version: [16]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup node ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - uses: pnpm/action-setup@v2
        with:
          version: 8.5.1

      - name: install packages
        run: pnpm install

      - name: Run test
        run: pnpm test

      - name: Build packages
        run: pnpm build
